.registerBox1{ /*垂直居中*/
  background-color:rgba(255,255,255,0.3);
  width: 760px;
  height: 440px;
  margin: -220px 0 0 -380px;
  position: absolute;
  top: 50%;
  left: 50%;
  /*    background-color: #0000FF;*/
}

.registerBox2{
  width: 668px;
  height: 340px;
  margin: -170px 0 0 -334px;
  position: absolute;
  top: 56%;
  left: 50%;
  text-align: left;
  font-size: 14px ;
  /*    background-color: #5cb85c;*/
}

#logo{
  /*    background-color: #E95659;*/
  font: 700 28px "Comic Sans MS";
  text-align: left;
  letter-spacing: 3px;
  color: white;
  text-shadow: 0 0 10px #fdec84, /*空心字*/
  10px -10px 30px #ffae35; /*金色阴影*/
  padding: 12px 0 0 40px;
}

#registerBox3{
  width: 360px;
  height: 280px;
  position: relative;
  top: -15px;
  left: -50px;
  text-align: left;
  font-size: 14px ;
  padding-left: 45px;
  /*    background-color: #5cb85c;*/
}

#registerBox4{
  position: relative;
  top: -100%;
  left: 55%;
  text-align: left;
}

.avatar-uploader{
  width: 130px;
  height: 130px;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  left: 2%;
}
.avatar-uploader:hover{
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 40px;
  color: #8c939d;
  width: 130px;
  height: 130px;
  line-height: 130px;
  text-align: center;
}
.avatar {
  width: 130px;
  height: 130px;
  display: block;
}
.el-upload__text{
  color: #818181;
  position: relative;
  left: 3%;
}

#registerBox5{
  width: 250px;
  height: 100px;
  position: relative;
  top: -98%;
  left: 46%;
  text-align: left;
  font-size: 14px ;
  /*    background-color: #5cb85c;*/
}

#NickName,
#UserName,
#logName,
#Pwd,
#rePwd,
#Phone,
#age,
#address,
#email,
#des{ /*输入框的样式调整*/
  height: 20px;
  width: 220px;
  border: rgba(255,255,255,0.3) 1px solid;
  margin-bottom: 10px;
  background-color: rgba(255,255,255,0);
  margin-top: 2px;
}
#address,
#email{
  width: 300px;
}
#des{
  height: 60px;
  width: 297px;
}

/*#registerBtn{ !*注册框*!
!*  background-color: rgba(255,255,255,0.5);*!
  height: 38px;
  width: 110px;
!*  border-radius: 20px;
  border: none;*!
  font-size: 15px;
  position: relative;
  left: 80px;
}*/
#loginBtn{
  position: relative;
  left: 30px;
}
#registerBtn{
  position: relative;
  left: 60px;
}

a:link,
a:visited,
a:hover,
a:active
{
  color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

